@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500;600;700;800&display=swap');

.font_franklin {
    font-family: 'Libre Franklin', sans-serif;
}

.pre_mob,
.pre_mobflex {
    display: none!important;
}

@media screen and (max-width: 780px) {
    .pre_pc {
        display: none!important;
    }
    .pre_mob {
        display: block!important;
    }
    .pre_mobflex {
        display: flex!important;
    }
}

main {
    width: 100%;
    overflow: hidden;
}

.title {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
    text-align: center;
}

.title .logo {
    padding-bottom: 20px;
}

.title .logo img,
.content .box .img img {
    width: 100%;
    display: block;
}

.title .collection h3 {
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.title .about {
    padding-top: 60px;
    width: 100%;
    max-width: 1360px;
}

.title .about p {
    font-size: 20px;
    line-height: 1.8;
    padding-bottom: 40px;
}

.title .about p:last-child {
    padding-bottom: 0px;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
}

.content .box {
    width: 100%;
    max-width: 1360px;
    display: flex;
    padding-bottom: 80px;
}

.content .box .img {
    width: 50%;
}

.content .box .text {
    position: relative;
    width: 50%;
}

.content .text .up {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 4%;
}

.content .text .up p {
    font-size: 26px;
    line-height: 1.5;
    text-align: left;
    letter-spacing: 0.02em;
}

.content .text .up p span {
    margin-left: 50px;
    text-decoration: underline;
}

.content .text .up p:last-child {
    text-align: right;
}

.content .text .down {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 4%;
}

.content .text .down h3 {
    font-size: 24px;
    padding-bottom: 2%;
    font-weight: 400;
    text-indent: 3%;
}

.content .text .down p {
    font-size: 22px;
    line-height: 1.4;
}

.banner_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.banner {
    width: 100%;
    max-width: 1360px;
    height: 148px;
    background-image: url("https://dcodeimages1.s3.ap-northeast-1.amazonaws.com/2297/banner_01.jpg");
    background-size: auto 100%;
    background-position: left center;
    background-repeat: repeat;
}

.banner a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0px 2%;
    letter-spacing: 0.02em;
}

.banner a .left h3 {
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 25px;
}

.banner a .left p {
    font-size: 26px;
    font-weight: 500;
}

.banner a .right {
    width: 70px;
    height: 70px;
    padding: 15px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.banner a .right img {
    width: 100%;
}

.banner a:hover .right img {
    animation: banner 1.2s 1;
}

@keyframes banner {
    from {
        transform: translateX(-30px);
        opacity: 0;
    }
    80% {
        transform: translateX(0px);
        opacity: 1;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

@media screen and (max-width: 1100px) {
    .banner_pc {
        display: none!important;
    }
}

